Repository jonhyrobles01/repos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --cache --fix

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix"],
  "*.js": "eslint --cache --fix"
}

chore: add path configurations
  package.json
  test/jest-e2e.json
  tsconfig.json
Due: none

chore: add MOCK_API on env
  .env.example
Due: none

chore: add eslint rule to add endOfLine auto
  .eslintrc.js
  package-lock.json
Due: eslint --cache --fix

feat(main): add configService to take PORT on env file
  src/main.ts
Due: eslint --fix

feat(provider): add axios provider
  src/config/httpAxios.provider.ts
Due: eslint --fix

feat(mock-api): add mock api module to take repositories list form mock api
  src/api/index.ts
  src/api/load-repositories.ts
  src/api/mock-api.controller.ts
  src/api/mock-api.module.ts
  src/api/mock-api.service.ts
  src/api/utils/code-verification.ts
  src/api/utils/index.ts
  src/app.module.ts
Due: eslint --fix

chore: add typeorm and pg package
  package-lock.json
  package.json
Due: none

chore: add @nestjs/typeorm to use config module typeorm on nest
  package-lock.json
  package.json
Due: none

chore: add DATABASE_URL to connect database
  .env.example
Due: none

feat(database): add database connection and configrations
  src/api/mock-api.module.ts
  src/app.module.ts
  src/config/database.provider.ts
  src/config/index.ts
  src/database/database.module.ts
Due: eslint --fix

chore: add class-validator, class-transformer and @nestjs/mapped-types
  package-lock.json
  package.json
Due: none

feat(organization): create organization module with nest g resource
  src/app.module.ts
  src/organization/dto/create-organization.dto.ts
  src/organization/dto/index.ts
  src/organization/dto/update-organization.dto.ts
  src/organization/entities/organization.entity.ts
  src/organization/index.ts
  src/organization/organization.controller.ts
  src/organization/organization.module.ts
  src/organization/organization.service.ts
Due: eslint --fix

feat(main): add api global prefix
  src/main.ts
  src/organization/organization.controller.ts
Due: eslint --fix

feat(organization): add logic to get all organizations
  src/config/database.provider.ts
  src/organization/entities/index.ts
  src/organization/organization.module.ts
  src/organization/organization.service.ts
Due: eslint --fix

feat(organization): add login to find One organization
  src/organization/organization.service.ts
Due: eslint --fix

feat(organization): create logic to create and validate request inputs
  src/main.ts
  src/organization/dto/create-organization.dto.ts
  src/organization/entities/organization.entity.ts
  src/organization/organization.service.ts
Due: eslint --fix

feat(organization): add logic to update organization
  src/organization/dto/update-organization.dto.ts
  src/organization/organization.controller.ts
  src/organization/organization.service.ts
Due: eslint --fix

feat(organization): add logic to delete organization
  src/organization/organization.controller.ts
  src/organization/organization.service.ts
Due: eslint --fix

feat(organization): add acceptance requirements on delete request
  src/organization/organization.controller.ts
Due: eslint --fix

feat(tribu): add tribu module with source command
  src/app.module.ts
  src/tribu/dto/create-tribu.dto.ts
  src/tribu/dto/index.ts
  src/tribu/dto/update-tribu.dto.ts
  src/tribu/entities/index.ts
  src/tribu/entities/tribu.entity.ts
  src/tribu/index.ts
  src/tribu/tribu.controller.ts
  src/tribu/tribu.module.ts
  src/tribu/tribu.service.ts
Due: eslint --fix

feat(tribe): create entities tirbe, repository and metrics with their relations
  src/tribu/entities/index.ts
  src/tribu/entities/metrics.entity.ts
  src/tribu/entities/repository.entity.ts
  src/tribu/entities/tribu.entity.ts
  src/tribu/utils/index.ts
  src/tribu/utils/repository-enums.ts
Due: eslint --fix

chore: add nestjs-seeder to create new records on database
  package-lock.json
  package.json
  src/database/seeder.ts
Due: eslint --fix

feat(seeder): add seeder to create new records on database
  src/tribu/entities/metrics.entity.ts
  src/tribu/entities/repository.entity.ts
  src/tribu/entities/tribu.entity.ts
  src/tribu/seeders/index.ts
  src/tribu/seeders/tribu.seed.ts
Due: eslint --fix

chore: delete seed:refresh
  package.json
Due: none

feat(tribu): add logic to get repositories with acceptance requirements
  src/api/mock-api.module.ts
  src/tribu/dto/create-tribu.dto.ts
  src/tribu/dto/index.ts
  src/tribu/dto/update-tribu.dto.ts
  src/tribu/dtos/index.ts
  src/tribu/dtos/repositories-response.dto.ts
  src/tribu/seeders/metrics.seed.ts
  src/tribu/seeders/tribu.seed.ts
  src/tribu/tribu.controller.ts
  src/tribu/tribu.module.ts
  src/tribu/tribu.service.ts
Due: eslint --fix

test(tribu): add test find repositories by id_tribe
  src/tribu/tribu.controller.spec.ts
  src/tribu/tribu.service.ts
Due: eslint --fix

chore: add moment package
  package-lock.json
  package.json
Due: none

feat(tribu): add filter on findAll respositories
  src/tribu/dtos/index.ts
  src/tribu/dtos/tribu-input.dto.ts
  src/tribu/tribu.controller.ts
  src/tribu/tribu.service.ts
Due: eslint --fix

chore: add exceljs package
  package-lock.json
  package.json
Due: none

feat(tribu): add endpoint to export repositroies report
  src/tribu/tribu.controller.ts
  src/tribu/tribu.module.ts
  src/tribu/tribu.service.ts
Due: eslint --fix

docs: add readme.md
  README.md
Due: none
